@inject IMessageService messageService
<Button Icon="plus" Type="primary" @onclick="_=>Open()">New student</Button>
<Drawer Closable="true" Width="520" Visible="visible" Title='("Add new student")' OnClose="_=>Close()">
    <Template style="height:90%">
        <EditForm @ref="editForm" OnValidSubmit="@Submit"
                  OnInvalidSubmit="@SubmitFalse"
                  Model="@StudentDto">
            <DataAnnotationsValidator />
            <div class="form-row">
                <div class="col-md-12 mb-8">
                    <div class="form-outline">
                        <label class="form-label" for="name">Name</label>
                        <InputText type="text" id="name" class="form-control" placeholder="Name"
                                   @bind-Value="@StudentDto.Name" />
                        <ValidationMessage For="@(() => StudentDto.Name)" />
                    </div>
                </div>
                <br />
                <div class="col-md-12 mb-8">
                    <div class="form-outline">
                        <label class="form-label">Address</label>
                        <InputText type="text" id="address" class="form-control" placeholder="Address"
                                   @bind-Value="@StudentDto.Address" />
                        <ValidationMessage For="@(() => StudentDto.Address)" />
                    </div>
                </div>
                <br />
                <div class="col-md-12 mb-8">
                    <div class="form-outline">
                        <label class="form-label">Birthday</label>
                        <br />
                        <DatePicker @bind-Value="@StudentDto.DateOfBirth" Format="dd/MM/yyyy" />
                        <ValidationMessage For="@(() => StudentDto.DateOfBirth)" />
                    </div>
                </div>
                <div class="col-md-12 mb-8">

                    <label class="form-label" for="class">Class</label>

                    <InputSelect @bind-Value="@StudentDto.ClassId" class="form-select">
                        @foreach (var c in Classes)
                        {
                            <option value="@c.Id">@c.ClassName</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => StudentDto.ClassId)" />

                </div>
            </div>

            <br />
            <Button HtmlType="submit">Submit</Button>
            <Button Type="default" OnClick="_=>Close()">Cancel</Button>
        </EditForm>


    </Template>
</Drawer>
